
{{#each response.Carts}}
<div class="mt-5">
    <h5 class="text-center">Carrito de Compras ID: {{_id}}</h1>
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody id="cartList">
                    {{#each products}}
                    <tr>
                        <td>{{product._id}}</td>
                        <td>{{product.title}}</td>
                        <td>${{product.price}}</td>
                        <td>{{quantity}}</td>
                        <td>${{multiply quantity product.price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <button id="continueToShopping" data-cart-id="{{_id}}"
                    class="btn btn-sm btn-outline-dark btn-block mb-3">
                    Continuar con este carro
                </button>
            </div>
        </div>
    </div>
</div>
</hr>
{{/each}}

<!-- agregado en el layout main -->
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="/js/carts.js"></script>