<div class="col-md-8 offset-md-2 mt-5">
    <h1>All Tickets</h1>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Fecha de Compra</th>
                <th>Detalles del Carro</th>
                <th>Total de Compra</th>
            </tr>
        </thead>
        <tbody>
            {{#each response.Tickets}}
            <tr>
                <td>{{code}}</td>
                <td>{{formatDate purchase_datetime}}</td>

                <td>
                    <strong>Items comprados:</strong><br>
                    <ul>
                        {{#each products}}
                        <li>
                            <strong>Producto:</strong> {{product.title}}<br>
                            <strong>Precio:</strong> {{product.price}}<br>
                            <!-- aca hay que poner el PRECIO del carrito -->
                            <strong>Quantity:</strong> {{quantity}}<br>
                        </li>
                        {{/each}}
                    </ul>
                </td>
                <td>{{amount}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <!-- esta era una idea de sacar un super total de totales entre todos los tickets -->
    <!--
        <div class="mt-4">
            <h4>Total Amount: {{calculateGrandTotal response.Tickets}}</h4>
        </div>
        -->
</div>

<!-- agregado en el layout main -->
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="/js/carts.js"></script>